.home__selected {
  margin: 20px;
  margin-bottom: 0px;
  padding: 10px;
  /* background-color: #f2f2f2; */
  opacity: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 250ms ease;
  min-height: 54px;
  outline: 2px solid #f2f2f2;
  outline-offset: -2px;
  color: #2ECC71;
  justify-content: space-between;
}

.home__selected--active {
  opacity: 1;
}

.home__selected_left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.home__selected_images {
  display: flex;
  gap: 5px;
  flex: 1;
}

.home__selected_image {
  height: 34px;
  display: inline-flex;
}

.home__images__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.home__group_label {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 20px;
  position: relative;
}

.home__group_input {
  position: absolute;
            -webkit-appearance: none;
            -moz-appearance: none;
  appearance: none;
}

.home__group_checkbox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-image: url('../assets/images/icon-unchecked.svg');
  background-size: contain;
}

.home__group_input--checked + .home__group_checkbox {
  background-image: url('../assets/images/icon-checked.svg');
}

.home__group_input--half-checked + .home__group_checkbox {
  background-image: url('../assets/images/icon-half-checked.svg');
}

.images__group {
  display: inline-block;
}

.home__images {
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  transition: all 250ms ease;
  overflow: hidden;
  outline: 5px solid transparent;
  outline-offset: -5px;
}

.home__images:has(input[type="checkbox"]:checked) {
  outline: 5px solid #2ECC71;
  outline-offset: -5px;
  transition: all 250ms ease;
}

.home__images:has(input[type="checkbox"]:checked) img {
  transition: all 250ms ease;
}

.home__images img {
  width: auto;
  max-height: 200px;
  object-fit: contain;
  display: inline;
  transition: all 250ms ease;
}

.home__image_hover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 250ms ease;
}


.home__images:hover .home__image_hover {
  opacity: 1;
}

.home__image_input{
  position: absolute;
            -webkit-appearance: none;
            -moz-appearance: none;
  appearance: none;
}

.home__image_checkbox {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 22.5px;
  height: 22.5px;
  background-image: url('../assets/images/icon-unchecked.svg');
  background-size: contain;
  cursor: pointer;
}

.home__image_input:checked + .home__image_checkbox {
  background-image: url('../assets/images/icon-checked.svg');
}

.home__image_hover button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

.home__image_hover button img {
  width: 50px;
  height: 50px;
}


.home__open_upload {
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 55px;
  border: none;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  z-index: 1;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
}

.home__open_upload img {
  width: 45px;
  height: 45px;
}

.home__upload__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home__upload {
  min-width: 480px;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  overflow: hidden;
}

.home__upload_label {
  text-align: center;
  margin-bottom: 10px;
}

.home__inputfile {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.home__preview {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  margin-bottom: 5px;
}

.home__image_preview {
  width: 25px;
  height: 25px;
}

.home__dropzone {
  margin-bottom: 10px;
}

.home__preview_selected {
  font-size: 12px;
  text-align: center;
}

.home__popup_buttons {
  display: flex;
  justify-content: space-between;
}

.home__noimages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  /* color: #d9d9d9; */
}

.home__noimages_icon {
  width: 96px;
  height: 96px;
  object-fit: contain;
}

.home__noimages p {
  margin-bottom: 10px;
}
