.home__images__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.home__images__block {
  font-size: 20px;
}

.home__images__block p {
  margin-bottom: 20px;
}

.images__group {
  display: inline-block;
}

.home__images {
  width: auto;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline;
}

.home__open_upload {
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 55px;
  border: none;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  z-index: 1;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
}

.home__open_upload img {
  width: 45px;
  height: 45px;
}

.home__upload__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home__upload {
  min-width: 480px;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  overflow: hidden;
}

.home__upload_label {
  text-align: center;
  margin-bottom: 10px;
}

.home__inputfile {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.home__preview {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  margin-bottom: 5px;
}

.home__image_preview {
  width: 25px;
  height: 25px;
}

.home__dropzone {
  margin-bottom: 10px;
}

.home__preview_selected {
  font-size: 12px;
  text-align: center;
}

.home__popup_buttons {
  display: flex;
  justify-content: space-between;
}
